html, body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Arial";
  display:grid;
  align-items: center;
  color: #2e3856;
}

.wrapper-main {
  width: 1000px;
  margin: 0 auto;
}

.pages{
  margin: auto;
}

.section-container{
  max-width: 1650px;
  margin: auto;
  padding: 30px;
}

:root {
  --primary: #1aac83;
  --error: #e7195a;
}