.comment {
    width: 200px;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 1rem;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    overflow: hidden;
    margin: 20px;
}

.comment:hover {
    cursor: pointer;
    background-color: #f6f7fb;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
}
