.form-container{
    width: 70%; /* Set the width of the form container */
    max-width: 600px; /* Optionally, set a maximum width to prevent it from becoming too wide */
    margin: 20px auto; /* Center the form container horizontally */
    height: 330px;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
  }

.link-container {
    text-align: center;
}

.signup-link,
.info-link {
    color: #007bff; /* Blue color for links */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s; /* Smooth transition for color change */
    text-decoration: underline;

}

.signup-link:hover,
.info-link:hover {
    color: #0056b3; /* Darker blue color on hover */
}

.separator {
    margin: 0 10px; /* Add space between the links */
}