/* Styling for the create button in the navbar */
.create-container{
    width: 70%;
    max-width: 600px;
    margin: 20px auto;
    height: 260px;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
  }

  /* Styling for when you hover over the create button */
  .create-container:hover {
    background-color: #f6f7fb;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.154);
    transform: scale(1.01);
  }
  
  .create{
    width: 100%;
  }
  
  .error{
   padding: 10px;
   background: #ffefef;
   border: 1px solid var(--error);
   color: var(--error);
   border-radius: 4px;
   margin: 20px 0;
  }

  .error_textbox{
    display: flex;
    align-items: center;
    background: #f1f1f1;
    padding: 2px 25px;
    border-color: #939bb4;
    border-style: solid;
    border-width: 1px;
    border-radius: 1rem;
    border: 1px solid var(--error);
  }