/* Styling for the login box */
.form-container{
    width: 70%;
    max-width: 600px;
    margin: 20px auto;
    height: 330px;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
  }

.link-container {
    text-align: center;
}

.signup-link,
.info-link {
    color: #007bff;
    text-decoration: none; /* Remove underline */
    transition: color 0.3s; /* Smooth transition for color change */
    text-decoration: underline;

}

/* Styling for when you hover over the signup link or info link */
.signup-link:hover,
.info-link:hover {
    color: #0056b3;
}

 /* For space between the links */
.separator {
    margin: 0 10px;
}